# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Python specific
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# uvicorn specific
*.log

# General
*.swp
*.swo
*.tmp
*.bak
*.orig
*.~
.idea/
.vscode/
*.iml

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/

# PyInstaller
*.manifest
*.spec

# Installer logs
debug.log

# macOS Finder Thumbnails
._*